<ul class="nav nav-pills flex-column">
    <li class="nav-item">
        <a
            class="nav-link {% if app.current_route in ['admin_movie_movie_list', 'admin_movie_movie_new', 'admin_movie_movie_edit']  %}active{% endif %}"
            aria-current="page"
            href="{{ path('admin_movie_movie_list') }}"
        >
            Movies
        </a>
    </li>
    <li class="nav-item">
        <a
            class="nav-link {% if app.current_route in ['admin_movie_movie_category_list', 'admin_movie_movie_category_new', 'admin_movie_movie_category_edit'] %}active{% endif %}"
            href="{{ path('admin_movie_movie_category_list') }}"
        >
            Movie categories
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="">Users</a>
    </li>
    <li class="nav-item">
        <hr>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/">Homepage</a>
    </li>
</ul>
